@media (min-width: 890px){
  a.menuitem{
  background: #d2dae2;
  border-radius: 5px;
  cursor: pointer;
  color: #485460;
  font-family: "Helvetica";
  font-weight: 100;
  padding: 10px 20px;
  font-size: 16px;
  width:65px;
  display: inline-block;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  transition: all 0.5s;
}

  a.menuitem:hover {
    background: #485460;
    color: #d2dae2;
  }

  #desktopmenucontainer{
    position: absolute;
    right: 18px;
    display: inline-block;
  }

  #mobilemenucontainer{
    display: none;
  }
}

@media (max-width: 890px){
  #desktopmenucontainer{
    display:none;
  }

  #mobilemenucontainer{
    position: absolute;
    right:18px;
    top:5px;
  }

  #mobiledropdown{
    width: 140px;
    height:300px;
    position: fixed;
    top:-300px;
    z-index:-10;
    right: 0;
    transition: 1s;
    display: block;
  }

.mobilemenuitem:hover{
  background: #485460;
  color: #d2dae2;
}

  .mobilemenuitem{
    height:30px;
    width:200px;
    display: inline-block;
    background: #d2dae2;
    border-radius: 5px;
    cursor: pointer;
    color: #485460;
    font-family: "Helvetica";
    font-weight: 100;
    padding: 10px 20px;
    font-size: 16px;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    transition: all 0.5s;
  }

  #mobiledropdown.active{
    top: 69px;
  }
}

.section {
  padding: 10px;
  font-size: 20px;
  z-index: 3;
}

#first {
  padding: 0px;
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/billede7.jpg');
  overflow:hidden;
  position: relative;
}

#second {
	background: white;
  height:250px;
  text-align: center;
}

#third {
	background: #B0C4DE;
}

#fourth {
	background: white;
}

#fifth {
	background: #B0C4DE;
}

#top {
	position: fixed;
	bottom: 0;
	right: 0;
  background: #d2dae2;
  border-radius: 5px;
  cursor: pointer;
  color: #485460;
  font-family: "Helvetica";
  font-weight: 100;
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.5s;
}

#top:hover{
  background: #485460;
  color: #d2dae2;
}

  footer{
  text-align: center;
  background-color: #485460;
  }
/*
#kontaktknap:hover{
  width:85px;
}

#kontaktknap span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  color: #485460;
}

#kontaktknap span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #485460;;
}

#kontaktknap:hover span {
  padding-right: 25px;
  color: #d2dae2;
}

#kontaktknap:hover span:after {
  opacity: 1;
  right: 0;
  color: #d2dae2;
}
*/

#menucontainer{
  position: fixed;
  height:60px;
  width:100vw;
  background-color:white;
  top:0;
  padding-top:9px;
  z-index:999;
}
body{
  padding-top:69px;
  overflow-x:hidden;
}

#logoimg{
  display:inline-block;
  margin-left:20px;
}

button:focus {outline:0;}

main{
  z-index: 2;
}

.darkimg{
  filter: brightness(7  0%);
}

#sharp1{
  width:100vw;
  height:150px;
  bottom:-60px;
  background-color: white;
  transform:rotateZ(15deg);
  left:-30%;
  position: absolute;
  z-index:1;
}

#sharp2{
  width:100vw;
  height:150px;
  bottom:-60px;
  background-color: white;
  transform:rotateZ(-15deg);
  position: absolute;
  right:-30%;
  z-index:1;
}

#overskrift{
  font-family: 'Kalam', cursive;
  color:rgba(255,255,255,0.8);
  font-size: 3em;
  opacity:0;
  margin:0;
}

#kortintro{
  font-family: 'Roboto', sans-serif;
  color:rgba(255,255,255,0.8);
  font-size:1.4em;
  opacity: 0;
}

#textcontainer{
  position: absolute;
  top:120px;
}

.txt-rotate > .wrap { border-right: 0.08em solid #666 }

#wedo{
  font-family: 'Roboto', sans-serif;
  color:rgba(0,0,0,0.8);
  font-size:1.8em;
  height:60px;
}

#kontaktintro{
  font-family: 'Roboto', sans-serif;
  color:rgba(0,0,0,0.8);
  font-size:1.5em;
}