a.menuitem{
	background: #DCDCDC;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	font-family: "Helvetica";
	font-weight: 100;
	padding: 10px 20px;
	font-size: 20px;
  width:100px;
  display: inline-block;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  transition: all 0.5s;
}

a.menuitem:hover {
	background: black;
}

.section {
	height: 100vh;
	padding-top: 69px;
	font-size: 20px;
}

#first {
	background: grey;
}

#second {
	background: white;
}

#third {
	background: orange;
}

#fourth {
	background: green;
}

#fifth {
	background: blue;
}

#top {
	position: fixed;
	bottom: 0;
	right: 0;
  background: #DCDCDC;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-family: "Helvetica";
  font-weight: 100;
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.5s;
}

#top:hover{
  background: black;
}

.button {
  background: #DCDCDC;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-family: "Helvetica";
  font-weight: 100;
  padding: 10px 20px;
  font-size: 20px;
  width:100px;
  display: inline-block;
  height: 30px;
  text-align: center;
  line-height: 30px;
  transition: all 0.5s;
}

.button:hover{
  width:120px;
  background: black;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#menucontainer{
  position: fixed;
  height:60px;
  width:100vw;
  background-color:white;
  top:0;
  padding-top:9px;
}
body{
  padding-top:69px;
}