@media (min-width: 890px){
  a.menuitem{
  background: #d2dae2;
  border-radius: 5px;
  cursor: pointer;
  color: #485460;
  font-family: "Helvetica";
  font-weight: 100;
  padding: 10px 20px;
  font-size: 20px;
  width:65px;
  display: inline-block;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  transition: all 0.5s;
}

  a.menuitem:hover {
    background: #485460;
    color: #d2dae2;
  }

  #desktopmenucontainer{
    position: absolute;
    right: 18px;
    display:inline-block;
  }

  #mobilemenucontainer{
    display: none;
  }
}

@media (max-width: 890px){
  #desktopmenucontainer{
    display:none;
  }

  #mobilemenucontainer{
    position: absolute;
    right:18px;
    top:5px;
  }

  #mobiledropdown{
    width:200px;
    height:300px;
    position: fixed;
    top:-300px;
    z-index:-10;
    right:0;
    background-color: white;
    transition: 1s;
  }

  .mobilemenuitem{
    height:30px;
    width:200px;
  }

  #mobiledropdown.active{
    top:60px;
  }
}

.section {
  height: 100vh;
  padding: 10px;
  font-size: 20px;
}

#first {
	background: grey;
}

#second {
	background: white;
}

#third {
	background: orange;
}

#fourth {
	background: green;
}

#fifth {
	background: blue;
}

#top {
	position: fixed;
	bottom: 0;
	right: 0;
  background: #d2dae2;
  border-radius: 5px;
  cursor: pointer;
  color: #485460;
  font-family: "Helvetica";
  font-weight: 100;
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.5s;
}

#top:hover{
  background: #485460;
  color: #d2dae2;
}
/*
#kontaktknap:hover{
  width:85px;
}

#kontaktknap span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  color: #485460;
}

#kontaktknap span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #485460;;
}

#kontaktknap:hover span {
  padding-right: 25px;
  color: #d2dae2;
}

#kontaktknap:hover span:after {
  opacity: 1;
  right: 0;
  color: #d2dae2;
}
*/

#menucontainer{
  position: fixed;
  height:60px;
  width:100vw;
  background-color:white;
  top:0;
  padding-top:9px;
  z-index:20px;
}
body{
  padding-top:69px;
}

#logoimg{
  display:inline-block;
  margin-left:20px;
}

button:focus {outline:0;}